body {
  background-color: #000000;
}
.App {
  text-align: center;
  margin-top: 146px;
}

.head_text {
  margin-top: 146px;
  margin-bottom: 109px;
}

.content_wrap {
  position: relative;
  width: 630px;
  height: 400px;
  margin: auto;
}

.video {
  position: absolute;
}

.text_balloon {
  margin: 0 auto;
  position: absolute;
  left: 195px;
}

.text {
  position: absolute;
  width: 320px;
  height: 60px;
  font-family: SDNemony2cBasicRg;
  font-size: 20px;
  line-height: 1.36;
  color: #fff;
  word-break: keep-all;
  line-break: strict;
  top: 70px;
  left: 74px;
}

button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

button img {
  position: absolute;
  top: 390px;
  right: 30px;
}
